<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="{% url 'form' %}">
      {% csrf_token %}
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" placeholder="First Name" required><br><br>
    <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" placeholder="Lirst Name" required><br><br>
    <label for="username">User name:</label><br>
  <input type="text" id="username" name="username" placeholder="User Name" required><br><br>
    <label for="email" >Email:</label><br>
    <input type="email" id="email" name="email" placeholder="Enter your Email" required><br><br>
  <label for="pass1">Password:</label><br>
  <input type="password" name="pass1" id="pass1"><br><br>
  <label for="pass2">Password:</label><br>
  <input type="password" name="pass2" id="pass2"><br><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>